@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primaryBlue-100: #0070ff;
	--color-dark-100: #242c3e;
}

@source "../node_modules/flowbite-svelte/dist";

body {
	font-family: 'Inter';
}

button:hover {
	transform: translateY(-2px);
	transition: all ease-in-out;
}
